@use '../../scss/' as *;
.wrapper {
    height: 100%;
    background-color: #fff;
    width: 100%;
    .content {
        background-color: #fff;
        color: #000;
        margin-top: 64px;
        padding: 3rem;
        margin-left: $sidebar-width;
        width: calc(100% - 240px);
        @include mobile {
            width: 100%;
            margin-left: 0;
        }
    }
}
