@use '../../../scss/' as *;

.wrapper {
    .inner {
        position: relative;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        // width: 100%;
        // height: 100%;
        padding-top: 160%;
        border-radius: 3rem;
        margin-bottom: 1rem;

        .icon-rated {
            position: absolute;
            display: block;
            left: 32px;
            top: 15px;
            width: 56px;
            height: 27px;
        }

        .btn {
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: $primary-color;
            padding: 10px 18px;
            border-radius: 50%;
            border: none;
            font-size: 3.2rem;
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: $black;
            opacity: 0;
            transition: opacity 0.3s ease;
            border-radius: 30px;
        }

        @media (hover: hover) {
            &:hover::before {
                opacity: 0.8;
            }

            &:hover .btn {
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }

    .title {
        display: block;
        font-size: 2rem;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 25px;
        -webkit-line-clamp: 2;
        height: 50px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-align: center;
        cursor: pointer;
        margin: 2rem 0;
        &:hover {
            color: $primary-color;
        }
    }

    .btn_ticket {
        color: $text-color;
        border: 1px solid $primary-color;
        background-color: $background-color;
        width: 100%;
        padding: 8px 0;
        font-size: 1.8rem;
        border-radius: 20px;
        font-weight: 600;

        &:hover {
            background-color: $primary-color;
        }
    }

    // .wrapper:hover + .title {
    //     color: $primary-color;
    // }
}
