.product-detail {
    .infor {
        color: #ccc;
        img {
            width: 74px;
            height: 108px;
            display: inline-block;
        }
        thead,
        tbody,
        tfoot,
        tr,
        td,
        th {
            border-style: none;
        }
    }
}
