@use '../../scss/' as *;
.wrapper {
    margin-top: $header-height;
    width: 100%;

    .inner {
        margin-top: 16rem;
        padding: 2rem 0 0 0;
        background-color: #fff;
        border: 1px solid #ccc;

        h2 {
            text-align: center;
            margin: 2rem 0;
            padding: 1rem;
            background-color: $background-color;
        }
        .note-seat-status {
            display: flex;
            justify-content: space-evenly;
            color: #000;
            padding: 2rem 0;
            .seat-status {
                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                }
            }
        }

        .main-content {
            .list-seat {
                width: 600px;
                align-items: center;
                text-align: center;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: auto;
            }
        }
    }
}
