@use '../../../../scss/' as *;
.wrapper {
    margin-bottom: 4.8rem;
}

.item {
    padding: 9rem 0;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @include overlay();
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, $background-color, rgba($black, 0));
    }

    .item-content {
        position: relative;
        @include flex(center, center);

        & > * ~ * {
            margin-top: 4.8rem;
        }

        .item-info {
            width: 70%;
            padding: 0 4.8rem;
            position: relative;
            .title {
                font-size: 8rem;
                font-weight: 700;
            }

            .overview {
                font-size: 2rem;
                margin-top: 4.8rem;
                font-weight: 400;
            }

            .btn button {
                padding: 8px 40px;
                border-radius: 30px;
                margin-top: 4.8rem;
                margin-right: 20px;
                font-size: 2rem;
                color: $text-color;
                font-weight: 600;
                cursor: pointer;
                text-transform: capitalize;
                font-family: $font-family-ProximaNova;
                border: 2px solid $primary-color;
            }

            .trailerbtn {
                background-color: transparent;
                &:hover {
                    color: $primary-color;
                    background-color: $text-color;
                    border-color: $text-color;
                }
            }

            .watchnowbtn {
                background-color: $primary-color;
            }

            // //modal
            // .modal-box {
            //     position: absolute;
            //     top: 50%;
            //     left: 50%;
            //     border: 4px solid #fff;
            // }
        }

        .item__content--poster {
            flex: 1;
            position: relative;
            @include flex(center, flex-start);
            img {
                width: 300px;

                border-radius: 30px;
            }
        }
    }
}
