@use '../../../scss/' as *;

.wrapper {
    width: 100%;
    height: $header-height;
    @include flex(center, center);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition: height 0.3s ease, background-color 0.3s ease;

    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: $default-layout-width;

        .logo {
            margin-left: -30px;
            img {
                color: $primary-color;
                fill: currentColor;
                width: 120px;
                height: 70px;
                padding: 0 10px;
            }
        }

        .navbar {
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;

            .movie {
                display: flex;
                position: relative;
                align-items: center;
                // height: 100%;
                font-weight: 600;
                color: $text-color;
                font-size: 2rem;
                margin-right: 16px;
                padding-right: 20px;
                .icon-down {
                    position: absolute;
                    font-weight: 100;
                    font-size: 1.4rem;
                    color: $white;
                    right: 2px;
                    cursor: pointer;
                    &:hover,
                    &.active {
                        color: $primary-color;
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -4px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    transition: width 0.5s ease;
                    height: 2px;
                    background-color: $primary-color;
                }

                &.active,
                &:hover {
                    color: $primary-color;
                }

                &.active::after,
                &:hover::after {
                    width: 100%;
                    color: $primary-color;
                }
            }

            .menu-sub-wrapper {
                position: relative;
                bottom: -10px;
                right: -50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                background-color: $background-color;
                box-shadow: 8px 8px 30px 0px rgb(42 67 113 / 15%);
                width: 180px;
                height: 90px;
                // margin-left: -5px;
            }
        }

        .user_NoSignIn {
            height: 100%;
            line-height: $header-height;

            .signIn,
            .signUp {
                color: $text-color;
                font-size: 1.6rem;
                font-weight: 600;
                padding: 5px 20px;
                border-radius: 10px;
                cursor: pointer;
                margin-right: 20px;
            }

            .signIn {
                border-color: $primary-color;
                &:hover {
                    color: $primary-color;
                    background-color: $text-color;
                    border-color: $text-color;
                }
            }

            .signUp {
                background-color: $primary-color;
            }
        }

        .user_SignIn {
            @include flex(center, center);
            position: relative;

            .myfavourite {
                @include flex(center, center);
                position: relative;
                font-size: 4rem;
                margin-right: 30px;
                cursor: pointer;

                &::after {
                    content: 'Your favourites';
                    position: absolute;
                    bottom: -38px;
                    font-size: 1.4rem;
                    font-weight: 600;
                    width: 120px;
                    height: 30px;
                    padding: 0 5px;
                    background-color: #333;
                    border-radius: 10px;
                    @include flex(center, center);
                    opacity: 0;
                    transition: opacity 0.5s ease;
                }

                &::before {
                    content: '';
                    position: absolute;
                    bottom: -18px;
                    border-width: 20px 20px;
                    border-style: solid;
                    border-color: transparent transparent #333 transparent;
                    @include flex(center, center);
                    opacity: 0;
                    transition: opacity 0.5s ease;
                }

                &:hover {
                    color: $primary-color;
                }

                &:hover::before,
                &:hover::after {
                    opacity: 1;
                    color: $white;
                }

                &-quantity {
                    @include flex(center, center);
                    position: absolute;
                    right: -16px;
                    top: -2px;
                    width: 30px;
                    height: 20px;
                    border-radius: 5px;
                    background-color: $primary-color;
                    font-size: 1.6rem;
                    font-weight: 600;
                }

                &:hover .myfavourite-quantity {
                    background-color: $white;
                }
            }
            .user-infor-name {
                font-size: 1.8rem;
            }
            .user-infor-img {
                position: relative;
                img {
                    width: 50px;
                    border-radius: 50%;
                    margin-left: 10px;
                    cursor: pointer;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transform: translateY(85%);
                    width: 50px;
                    height: 30%;
                    background-color: transparent;
                }

                .log-out {
                    position: absolute;
                    width: 100px;
                    bottom: 0;
                    right: 0;
                    transform: translate(25%, 120%);
                    background-color: $primary-color;
                    padding: 6px 14px;
                    font-size: 1.4rem;
                    border-radius: 15px;
                    font-weight: 700;
                    display: none;
                }

                &:hover .log-out {
                    display: block;
                }
            }
        }
    }
}
