@use './scss/' as *;
@import '~bootstrap/scss/bootstrap';
@import 'normalize.css';

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // -webkit-tap-highlight-color: transparent;
    text-rendering: optimizeSpeed;
}

body {
    font-family: $font-family-ProximaNova;
    font-size: 1.6rem;
    line-height: 1.5;
    color: $text-color;
    background-color: $background-color;
    font-weight: 600;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: unset;
}

@media (hover: hover) {
    a:hover {
        color: $primary-color;
    }
}

button,
input {
    outline: 0;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

iframe {
    border: 0;
}
//fonts embeded in the
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-semibold.otf');
    font-weight: 600;
}

.section {
    padding: 0 5rem;
    @include mobile {
        padding: 0 0.8rem;
    }
}

.section__header {
    @include flex(center, space-between);
}
