//color primary
$background-color: #0f0f0f;
$primary-color: #ff0000;
$text-color: #fff;

//color
$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$default-layout-width: 1180px;
$sidebar-width: 240px;
// $header-shrink-height: 5rem;
// $border-radius: 30px;

//responsive
$mobile-width: 600px;
$tablet-width: 1024px;
$laptop-width: 1400px;

$font-family-ProximaNova: 'ProximaNova', sans-serif;
$font-family-SofiaPro: 'SofiaPro', sans-serif;
